body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

header, footer {
    background-color: lavender;
}

.site-title {
    color:mediumpurple;
}

#my-image {
    box-shadow: 0px 2px 1px black
}

article li:nth-child(odd){
    background-color:mediumpurple;
}

a:link{
    text-decoration: none;
    background-color:floralwhite;
    border-style: solid;
    border-color: mediumpurple;
}
a:visited{
    text-decoration: none;
    background-color:floralwhite;
    border-style: solid; 
    border-color: mediumpurple;
}

a:hover{
    background-color: mediumpurple;
}
