/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom css start here */

body {
    background-color: white;
    font-family: "open sans", sans-serif;
    line-height: 1.6;
    margin: 0 0.2rem;
}

.wrapper {
    background-color: #222;
    padding: 1rem;
}

.header {
    background-color: #c78c06;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
}

h2 {
    font-size: 2.75rem;
    font-weight: bold;
}

h3 {
    font-size: 2rem;
    font-weight: bold;
}

h4 {
    font-size: 1rem;
}

p {
    font-size: 0.8rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

/* nav styles */

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #c78c06;
}

nav .material-symbols-outlined {
    border: solid #c78c06;
    padding: 0.25rem;
    color: #c78c06;
}

/* home styles */

#home {
    background-image: url(/images/main-banner.jpg);
    background-position: center;
    padding: 4rem 0;
    color: white;
}

.home {
    background-color: #222;
    padding: 1rem;
}

.home button {
    background-color: #c78c06;
    padding: 2rem;
    font-size: large;
}

/* about us styles */

#aboutus {
    padding: 1rem;
    background-color: #ffe6ac;
}

.aboutus img {
    width: 100%;
}

/* services styles */

#services {
    padding: 1rem;
}

.services {
    background-color: #ffe6ac;
}

.services img{
    width: 100%;
}

.services h3 {
    padding: 1rem;
}

.services p {
    padding: 0 1rem;
}

.services button {
    margin: 0 1rem 1rem 1rem;
}

.services button {
    background-color: #222;
    padding: 2rem;
    font-size: large;
    color: white;
}

/* vision styles */

#vision {
    background-image: url(/images/vision.jpg);
    padding: 2rem 1rem 1rem;
    color: white;
}

#vision h3 {
    padding: 0rem 0rem 1rem 0rem;
}

#vision button {
    background-color:transparent;
    padding: 2rem;
    font-size: large;
    color: white;
    border: solid #c78c06;
}

/* team styles */

/* contact styles */